.list {
  list-style: none;
  background-color: antiquewhite;
  width: 100%;
  padding: 12px;
  text-align: center;
  cursor: pointer;
}

.list:hover {
  background-color: #eee;
}

.ul {
  display: flex;
  justify-content: space-around;
  padding-inline-start: 0px;
}

.wrapper {
  max-width: 1024px;
  margin: auto;
}

.footer {
  text-align: center;
  padding: 24px;
  border-top: 1px solid #aaaaaa;
  margin-top: 32px;
}
