.list {
  list-style: none;
  color: white;
  background-color: rgb(0, 0, 0);
  width: 100%;
  padding: 12px;
  text-align: center;
  cursor: pointer;
  z-index: 1;
}

.list:hover {
  background-color: rgb(51, 51, 51);
}

.ul {
  display: flex;
  justify-content: space-around;
  padding-inline-start: 1.5px;
  margin-block-start: -10px;
  /* margin-block-end: 0em; */
  width: 1022px;
}

.wrapper {
  max-width: 1024px;
  margin: auto;
}

.footer {
  text-align: center;
  padding: 24px;
  border-top: 1px solid #aaaaaa;
  margin-top: 32px;
}
