.list {
  list-style: none;
  background-color: antiquewhite;
  width: 100%;
  padding: 12px;
  text-align: center;
}

.list:hover {
  background-color: grey;
}

.ul {
  display: flex;
  justify-content: space-around;
  padding-inline-start: 0px;
}

.wrapper {
  max-width: 1024px;
  margin: auto;
}
