.admin-wrapper {
  .admin-header {
    width: 100%;
    background-color: black;
    ul {
      display: flex;
      margin-block-start: 0em;
      margin-block-end: 0;
      li {
        list-style: none;
        background-color: black;
        color: white;
        padding: 16px;
        cursor: pointer;
        text-align: center;
      }
      li:hover {
        background-color: #272626;
      }
    }
  }

  // Admin Post

  .admin-post-list {
    padding: 32px;
  }

  .admin-add-new-post {
    padding-bottom: 8px;
  }
}

.post-admin-edit {
  color: red;
}

.table {
  .table-element {
    position: relative;
    display: block;
  }

  table,
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  textarea {
    border: 0;
    width: 100%;
    height: 100%;
  }
  th,
  td {
    height: 50px;
    .btn-list {
      position: absolute;
      top: 0px;
      right: 5px;
      display: none;
    }
  }
  th:hover,
  td:hover {
    .btn-list {
      display: flex;
    }
  }
}
