html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (max-width: 600px) {
  header {
    width: 100vw;
  }

  header > ul {
    flex-wrap: wrap;
    width: 100vw !important;
  }
  header > ul > li {
    width: 25% !important;
    font-size: small;
  }
}
