.home-container {
  .cards {
    justify-content: space-between;
    flex-wrap: wrap;

    .list-card-component {
      margin: 12px 0px;
    }
  }
}

.PostTitleListCard {
  padding: 12px;
  border-width: 2px;
  border-color: black;
  border-style: solid;

  li {
    color: blue;
    cursor: pointer;
    margin-top: 12px;
  }
}
