@import './variables.scss';

.list-card-component {
  width: 32%;
  border: 1px solid $black;

  h3 {
    margin: 0;
    padding: 8px;
    background-color: $black;
    color: $white;
    text-align: center;
  }

  li {
    margin-top: 12px;
    color: blue;
  }

  // a,
  .viewmore {
    font-weight: bold;
    font-size: 18px;
    text-align: right !important;
    p {
      padding: 0 24px 0 0;
    }
  }
}
