.post-preview {
  max-width: 1024px;

  table,
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  th,
  td {
    padding: 8px;
  }

  .post-common-data {
    .name-item {
      display: flex;
      width: 100%;

      .name-item-label {
        width: 100px;
        font-size: larger;
        font-weight: bold;
        margin-right: 32px;
        color: $red;
      }

      .name-item-value {
        font-size: large;
      }
    }
  }

  .post-header {
    border: 2px solid $black;
    padding: 32px;
    text-align: center;

    h1,
    h2,
    h3 {
      font-size: x-large;
    }
    h2 {
      color: $green;
    }

    h1,
    h3 {
      color: $pink;
    }
  }

  .post-table-body {
    border: 2px solid $black;
    margin-top: -2px;
    padding: 32px;

    li {
      margin: 8px 0 0 0;
      font-size: large;
    }

    h1 {
      margin-top: -2px;
      color: $green;
      text-align: center;
    }
  }

  .post-table-links {
    h1 {
      margin: 0;
      margin-top: -2px;
      padding: 18px;
      border: 2px solid $black;
      color: $green;
      text-align: center;
    }
    .link-item {
      display: flex;
      align-items: center;
      justify-content: center;
      h5,
      h6 {
        width: 50% + 2;
        text-align: center;
        border: 2px solid $black;
        height: 50px;
        padding: 12px;
        font-size: large;
        margin: 0;
        margin-top: -2px;
        border-collapse: collapse;
      }

      h5 {
        margin-right: -2px;
      }
      a {
        color: blue;
      }
    }
  }
}
